<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("./partials/head.html") %>
  </head>
  <body>
    <%-include("./partials/navigation.html") %>
    <div class="continer p-5">
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="card_form card animate__animated animate__flipInY">
            <div class="card-header bg-dark text-white text-center">
              <h3>contactame</h3>
            </div>
            <div class="card-body">
              <form action="">
                <div class="form-group mb-3">
                  <input type="text" class="form-control" placeholder="Email" />
                </div>
                <div class="form-group mb-3">
                  <textarea
                    class="form-control"
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div class="form-group d-grid gap-2">
                  <button class="btn btn-primary">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include("./partials/footer.html") %>
  </body>
</html>
